
iframe {
    display: block;
    margin-bottom: 1.875rem; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100%;    
    height: 31.25rem;
}

.text-main {
    padding: 0.5rem;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 1rem;
    flex-wrap: wrap;
}
ul.modelcars {
    display: block;
    text-align: center;
    margin-bottom: 2.5rem;
}

ul.modelcars li {
    display: inline-block;
    text-align: left;
    width: 18.75rem;
    vertical-align: top;
}

img.photocar {
    display: block;
    width: 15.625rem;
}

.checkbox {
    width: 1.875rem;
    height: 1.875rem;;
    border: 1px solid #1b357e;
}

.infocar div {
    display: inline-block;
}

.info {
    width: 12.5rem;
    vertical-align: top;
}

.textmodel {
    display: block;
    text-align: left;
    font-size: 0.875rem;
    color: #1351d8;

}

.textprice {
    display: block;
    text-align: left;
    font-size: 0.625rem;
}

#compare img {
    width: 10rem;
}

#compare {
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 0.625rem;
}

th,
td {
    text-align: left;
    padding: 0.5rem;
}

td:nth-child(1) {
    font-weight: 700;
    width: 40%;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

div#compare {
    position: absolute;
    display: none;
    width: 50vw;
    max-width: 50rem;
    min-width: 25rem;
    height: 100vh;
    max-height: 43.75rem;
    min-height: 21.875rem;
    background: #fff;
    top: calc(100vh - 80%);
    left: 25vw;
    border-radius: 0.625rem;
    padding: 0.625rem;
    -webkit-box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 34%);
    box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 34%);
}

